<!-- if attempt variable is true
  display correct message
else 
  display incorrect message
 -->

<div class="container">

  <h2>A:</h2>
  
  <% if @attempt.correct %>
      <h3>Correct!</h3>
  <% else %>
      <h3>Incorrect.</h3>
  <% end %>
  
  <div class="card">
    <p>You guessed: <%= @attempt.guess %></p> 
    <p>Answer: <%= @card.answer %></p>
    <!-- <p><%= @round.num_total_attempts %> attempt(s)</p> -->
  
  </div>

  <!--  -->
  <form action="/deck/<%= @round.deck_id %>/round/<%= @round.id %>" method='POST'>
    <input type="submit" value="Next Card" autofocus>
  </form>
  <a href="/"><input type="submit" value="Continue Later"</a>
</div>

<div class="container">
  

  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
</div>

<!-- 
provide 'next' button directs to get 'round/:round_id/card/:card_id' 
get card_id using helper method pass round from attempt -->
