<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<!-- if attempt variable is true
  display correct message
else 
  display incorrect message
 -->
 <div class="content">

      <div class="header">
      <div id="logo">
        <a href="/"><img src="/flashcard_logo.png"></a>
      </div>

      <div id="user_tools">
        <div id="username">
          <%= current_user.name %>
        </div>
        <div>
          <form action="/logout" method="POST">
          <input type="image" name="Submit" src="/exit-button.png" alt="Log out">
          </form>
        </div>
      </div>
    </div>
    
    <!-- 
      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
     -->
  <div class="result animated bounceIn">
  <% if @attempt.correct %>
      <div class="correctanswer">Correct!</div>
  <% else %>
      <div class="wronganswer">Incorrect.</div>
  <% end %>
  </div>
  
  <div class="card animated flipInY">
    <p>You guessed: <%= @attempt.guess %><br><br>
    Answer: <%= @card.answer %></p>
    <!-- <p><%= @round.num_total_attempts %> attempt(s)</p> -->
  
  </div>

  <!--  -->
  <div id="form">
  <form action="/deck/<%= @round.deck_id %>/round/<%= @round.id %>" method='POST'>
    <input type="submit" class="button" value="Next Card" autofocus>
  </form>
  <a href="/"><input type="submit" class="button" value="Continue Later"</a>
  </div>
</div>

<!-- 
provide 'next' button directs to get 'round/:round_id/card/:card_id' 
get card_id using helper method pass round from attempt -->
