<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <h2>Hi, <%= current_user.name %>.</h2>

  <!-- clickable deck links for each deck, to post -->

<h3>Pick a deck to begin!</h3>

<% @decks.each do |deck| %>
  <h1><%= deck.title %></h1>
    <% if continue_round?(deck, @user) %>
      <form action="/deck/<%= deck.id %>/continueround" method="POST">
        <input type="submit" value = "Continue">
      </form>
    <% end %>
    <form action="/deck/<%= deck.id %>/newround" method="POST">
    <input type="submit" value = "New Round">
    </form>
<% end %>

<h3>Your history:</h3>
<table cellpadding="8">
  <th>Completed Round</th>
  <th>Correct</th>
<% rounds_completed = current_user.rounds.sort_by { |round| round.id}.reverse %>
<% rounds_completed.each do |round| %>
  <% if round.complete? %>
<tr>
<td><a href= <%= "/round/#{round.id}/stats" %> ><%= round.deck.title %></a></td>
<td><%= round.percent_correct %>%</td>
  <% end %>
<% end %>
</tr>
</table>


</div>

<div class="container">
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
</div>

