  <!-- clickable deck links for each deck, to post -->
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<div class="content">

    <div class="header">
      <div id="logo">
        <a href="/"><img src="/flashcard_logo.png"></a>
      </div>

      <div id="user_tools">
        <div id="username">
          <%= current_user.name %>
        </div>
        <div>
          <form action="/logout" method="POST">
          <input type="image" name="Submit" src="/exit-button.png" alt="Log out">
          </form>
        </div>
      </div>
    </div>

  <div class="deckcollection">
    <% @decks.each do |deck| %>
      <div class="deck"><div class="decktitle"><%= deck.title %></div>
      <% if continue_round?(deck, @user) %>
        <form action="/deck/<%= deck.id %>/continueround" method="POST">
          <input type="submit" class="cardcollectionbutton" value = "Continue">
        </form>
      <% end %>
      <form action="/deck/<%= deck.id %>/newround" method="POST">
        <input type="submit" class="cardcollectionbutton" value = "New Round">
      </form>
      </div>
    <% end %>
<<<<<<< HEAD
    <div class="newdeck"><a href="">+</a></div>
  </div>
=======

<br>
<a href="/newdeck">Create Deck</a>
<br>

>>>>>>> 27fac7d5f2852facabb302d2e6b55ebf567be954

  <div class="yourhistory">
    <h3>Your history:</h3>
    <table>
      <tr>
        <td>Completed Round</td>
        <td>Correct</td>
      </tr>

      <% rounds_completed = current_user.rounds.sort_by { |round| round.id}.reverse %>
      <% rounds_completed.each do |round| %>
        <% if round.complete? %>
          <tr>
          <td><a href= <%= "/round/#{round.id}/stats" %> ><%= round.deck.title %></a></td>
          <td><%= round.percent_correct %>%</td>
        <% end %>
          </tr>
      <% end %>
      
    </table>
  </div> 

  <div class="footer">
    <img src="flashcard_logo.png"> is a collaborative project from Meara, Katy, Daniel, and Chirag.
  </div>

</div>


